
@font-face {
	font-family: bebasneue;
	src: url(/fonts/bebasneueregular.otf);
	font-family: coolvetica;
	src: url(/fonts/coolvetica.ttf);
}

#headercontainer {
	display:inline-block;
}

h1 {
	font-family: coolvetica;
}

#textblock {
	size: 90%;
	word-wrap: break-word;
}